#nodo {
	font-size: 18px;
}

#nodo h2 {
	font-size: 16px;
}

#nodo header{
    padding: 0 !important;
    margin-bottom: 10px !important;
    border: 0 !important;
}

#nodo label {
	font-size: 16px;
}

body
{
    margin: 0;
}

textarea
{
	display:block;
}

#nodo textarea {
	font-size: 12px;
}

.tabbable 
{
	margin: 15px 0;
}

.buttons{
	margin-top: 10px;
}

.fondo_imagen{
    background-image: url(../img/fondos/imagen.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: white;
    padding-left: 28px ! important;
}

.fondo_video{
    background-image: url(../img/fondos/video.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: white;
    padding-left: 28px ! important;
}

.fondo_sonido{
    background-image: url(../img/fondos/sonido.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: white;
    padding-left: 28px ! important;
}

.fondo_texto{
    background-image: url(../img/fondos/texto.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: white;
    padding-left: 28px ! important;
}

.fondo_url{
    background-image: url(../img/fondos/url.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: white;
    padding-left: 28px ! important;
}


#opciones_medio {
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    width: 480px;
}

#opciones_medio legend {
    font-size: 80%;
}

#opciones_medio ul{
    text-align: center;
}

#opciones_medio li{
    display: table-cell;
    width: 96px;
}

#opciones_medio a{
	width: inherit;
    height: 90px;
    display: table-cell;
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: bottom;
    text-align: center;
    text-decoration: none;
}

#opciones_medio small{
    font-size: 11px;
}

#opciones_medio .boton_imagen {
    background-image: url(../img/foto.png);
}

#opciones_medio .boton_audio {
    background-image: url(../img/audio.png);
}

#opciones_medio .boton_video {
    background-image: url(../img/video.png);
}

#opciones_medio .boton_texto {
    background-image: url(../img/texto.png);
}

#opciones_medio .boton_url {
    background-image: url(../img/url.png);
}

#print{
    width: 50px;
    margin-right: 10px;
    display: inline;
}

#enviar{
    width: 50px;
    display: inline;
}

/* TABS */
ul.tabs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 34px;
}

ul.tabs li{
    float: left;
    margin: 0 10px 0 0;
    font-size:14px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    padding: 0 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-content {
    background-color: #EEE;
    border-bottom: 1px solid #D1D1D1;
    padding: 15px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    position: relative;
    font-size: 14px;
}

.tab-content legend{
    margin-bottom: 10px;
}

ul.tabs li a {
    text-decoration: none;
}

#titulo{
    font-size: 1.4em;
    padding: 5px;
    height: 40px;
}

.youtube_player{
    z-index: 0;
}

.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;
    font-size: 14px;
}

.cita{
    line-height: 150%;
    font-family: Georgia, "Times New Roman", Times, serif; 
    color:#555;
    font-size: 1.3em !important;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    margin: 25px !important;
}

#boton_volver{
    float: left;
    display: inline;
}

#boton_guardar{
    float: right;
    display: inline;
}

.cancelar{
    color: #D12F19;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0.9em !important;
}

.editar_medio{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0.9em !important;
}

.cambiar_nombre{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0.9em !important;
}

.boton_guardar{
    color: #529214;
    background-image: url(../img/check.png) !important;
    background-repeat: no-repeat !important;
    background-position: 3px 5px !important;
    padding-left: 25px !important;
    font-size: 0.9em !important;
}

#pie_medio{
    width: 100%;
    margin: 15px 0 15px 0;
    float:left;
    text-align: left;
}

.pie{
    font-size: 16px;
    color: #5B6772;
}

.optional{
    font: normal 11px 'Lucida Grande',Verdana;
    color: #AAB5C1;
    font-style: italic;
    margin-left: 2px;
}

#titular blockquote{
    margin: 0 !important;
    padding: 0 !important;
}

.row li{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#charlimitinfo{
    font-size: 12px;
    color: #666;
    display: block;
    padding-top: 7px;
    text-align: right;
}

#advertencia_explorer{
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px orange solid;
}

#advertencia_explorer .icon{
    width: 50px;
    margin: 20px;
    float: left;
    display: block;
    height: 100%;
}

#advertencia_explorer .message{
    margin-top: 10px;
    margin-right: 20px;
}

#advertencia_explorer .adv{
    display:inline;
    font-weight: bold;
    padding-bottom: 10px;
}

#advertencia_explorer .mess{
    font-size: 13px;
    line-height: 140%;
}

#tutorial{
    margin-top: 15px;
    margin-bottom: 10px;
}

#tutorial a{
    font-size: 2em;
    text-align: center;
}

#tutorial a:hover{
    color: yellow;
}

#saltar {
    font-size: 12px;
    text-align: right;
}

#saltar a{
    color: #eee;
    text-decoration: none;
}
